*{
    box-sizing: border-box;
}
.menu{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}
.item_menu{
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
}
.item_menu a{
    text-decoration: none;
    font-family: Arial;
    color: darkslategrey;
    font-weight: bolder;
}
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo img{
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 100%;
}
.logo h1 {
    font-family: Arial;
    font-size: 25px;
    color: darkslategrey;
}
.contact{
    display: flex;
    justify-content: center;
}
.title{
    display: block;
    text-align: center;
}
.title h1{
    font-family: Arial;
    font-size: 30px;
    color: darkslategrey;
    font-weight: bold;
}
.title img{
    width: 500px;
}
.comunication{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.item_con{
    display: block;
    line-height: 40px;
}
.item_con a{
    text-decoration: none;
    color: black;
}
.item_con h2{
    font-family: Arial;
    font-size: 20px;
    color: darkslategrey;
    font-weight: bold;
    text-align: center;
}
.item_con p{
    font-family: Arial;
    font-size: 16px;
    color: darkslategrey;
    text-align: left;
    line-height: 20px;
    color: black;
}
footer{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
}
.com{
    display: grid;
    line-height: 25px;
    align-self: center;
}
.link{
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
.link_item{
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    color: black;
    text-decoration: none;
}
.com img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    align-items: center;
}
