*{
    box-sizing: border-box;
}
.menu{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}
.item_menu{
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
}
.item_menu a{
    text-decoration: none;
    font-family: Arial;
    color: darkslategrey;
    font-weight: bolder;
}
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo img{
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 100%;
}
.logo h1 {
    font-family: Arial;
    font-size: 25px;
    color: darkslategrey;
}
.block_1{
    display: block;
}
.block_1 h1{
    text-align: center;
    font-family: Arial;
    color: darkslategrey;
    font-size: 30px;
}
.block_1 p{
    width: 1200px;
    font-family: Arial;
    font-size: 18px;
}
.place{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    align-items: center;
}
.tour{
    padding: 30px;
    background-color: darkslategrey;
}
.tour h2{
    color: white;
    font-family: Arial;
    font-size: 30px;
    text-align: center;
}
.btn{
  display: flex;
    justify-content: center;
}
.place img{
    width: 500px;
}
.text{
    display: block;
}
.text h3{
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    color: white;
}
.text p{
    width: 600px;
    font-family: Arial;
    font-size: 16px;
    line-height: 25px;
    color: white;
}
.text button{
    background-color: white;
    font-family: Arial;
    color: black;
    font-size: 14px;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}
.text li{
    font-family: Arial;
    color: white;
    font-size: 16px;
}
footer{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
}
.com{
    display: grid;
    line-height: 25px;
    align-self: center;
}
.link{
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
.link_item{
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    color: black;
    text-decoration: none;
}
.com img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    align-items: center;
}